# Shared
NODE_ENV=development

# API
API_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pos_saas?schema=public
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
REDIS_URL=redis://localhost:6379
SUPER_ADMIN_EMAIL=superadmin@platform.local
SUPER_ADMIN_PASSWORD=SuperSecure123!

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
